<div [appCourseHighlight]='false' class='course-container' [ngClass]="{'custom-background' : item.topRated}">
  <i *ngIf='item.topRated' class='fa fa-star'></i>
  <div class='course-info'>
    <div class='title-with-info-and-description'>
        <h3>{{item.name | uppercase}}</h3>
        <div class='info'>
          <i class='fa fa-calendar' aria-hidden='true'></i>
          {{item.date | date}}
          <i class='fa fa-clock-o ml-2' aria-hidden='true'></i>
          {{item.length | duration}}
        </div>
    </div>    
    {{item.description}}
  </div>
 <div class='course-buttons d-flex'>
   <button><a [routerLink]="['/courses', item.id]">{{'button.edit' | translate}}</a></button> 
   <button class='delete-button ml-2' (click)='deleteItem(item.id)'>{{'button.delete' | translate}}</button> 
 </div>
</div>



