<div [appCourseHighlight]='item.creationDate' class='course-container'>
  <div class='course-info'>
    <div class='title-with-info-and-description'>
        <h3>{{item.title}}</h3>
        <div class='info'>
          <i class="fa fa-calendar" aria-hidden="true"></i>
          {{item.creationDate | date : 'mediumDate'}}
          <i class="fa fa-clock-o ml-2" aria-hidden="true"></i>
          {{item.duration | duration}}
        </div>
    </div>    
    {{item.description}}
  </div>
 <div class='course-buttons d-flex'>
   <button>Edit</button> 
   <button class='delete-button ml-2' (click)='deleteItem(item.id)'>Delete</button> 
 </div>
  
</div>


