form {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 100px auto 0 auto;
  width: 40%;
  height: 60%;
  background-color: white;
  padding: 50px;
}

p {
  margin: 0;
}

.text-area {
  min-height: 100px;
}

input.ng-touched.ng-invalid {
  border: solid red 2px;
}