<form [formGroup]='addForm'>
  <p>Title</p>
  <ng-container *ngIf="addForm.controls['title'].invalid && addForm.controls['title'].touched">
    <ng-container *ngTemplateOutlet="error"></ng-container>
  </ng-container>
  <input formControlName='title' type='text' class='mb-2'>
  <p>Description</p>
  <ng-container *ngIf="addForm.controls['description'].invalid && addForm.controls['description'].touched">
    <ng-container *ngTemplateOutlet="error"></ng-container>
  </ng-container>
  <textarea formControlName='description' class='text-area'></textarea>
  <p>Date</p>
  <ng-container *ngIf="addForm.controls['date'].invalid">
    <ng-container *ngTemplateOutlet="error"></ng-container>
  </ng-container>
  <app-course-date formControlName='date' [courseDate]='courseDate'></app-course-date>
  <p>Duration</p>
  <ng-container *ngIf="addForm.controls['duration'].invalid">
    <ng-container *ngTemplateOutlet="error"></ng-container>
  </ng-container>
  <app-course-duration formControlName='duration' [courseDuration]='courseDuration'></app-course-duration>
  <div>
    <button class='mr-3' (click)='createCourse()' [disabled]="addForm.invalid">Save</button>
    <button (click)='cancelClick()'>Cancel</button>
  </div>
</form>
<ng-template #error>
  <div class="alert alert-danger m-0">
    Not valid
  </div>
</ng-template>